In [1]:
import pandas as pd

In [2]:

# title_basics = pd.read_csv(,sep='\t', quotechar='\t',
#                          low_memory=False, usecols=['tconst'], dtype_backend="pyarrow")

file_path = "/media/user/files/code/imdb/data/downloads/title.basics.tsv.gz"
cols_to_use = ['tconst', 'primaryTitle',  'originalTitle', 'startYear', 'runtimeMinutes', 'genres']
tconst = pd.read_csv(file_path,sep='\t', quotechar='\t', low_memory=False, dtype_backend="pyarrow", usecols=cols_to_use, index_col=["tconst"])

In [3]:
tconst.dtypes

primaryTitle      string[pyarrow]
originalTitle     string[pyarrow]
startYear         string[pyarrow]
runtimeMinutes    string[pyarrow]
genres            string[pyarrow]
dtype: object

In [4]:
tconst

,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
tconst,,,,,
tt0000001,Carmencita,Carmencita,1894,1,"Documentary,Short"
tt0000002,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short"
tt0000003,Poor Pierrot,Pauvre Pierrot,1892,5,"Animation,Comedy,Romance"
tt0000004,Un bon bock,Un bon bock,1892,12,"Animation,Short"
tt0000005,Blacksmith Scene,Blacksmith Scene,1893,1,Short
...,...,...,...,...,...
tt9916848,Episode #3.17,Episode #3.17,2009,\N,Drama
tt9916850,Episode #3.19,Episode #3.19,2010,\N,Drama
tt9916852,Episode #3.20,Episode #3.20,2010,\N,Drama
tt9916856,The Wind,The Wind,2015,27,Short
tt9916880,Horrid Henry Knows It All,Horrid Henry Knows It All,2014,10,"Adventure,Animation,Comedy"

In [5]:
index = pd.Index(['tt0081505', 'tt2005151', 'tt21113540', 'tt0015324', 'tt0022100',
       'tt0025316', 'tt0048021'],
      dtype='string', name='tconst')

movies = tconst.loc[index]

In [6]:
# expand en unstack?
movies

,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
tconst,,,,,
tt0081505,The Shining,The Shining,1980,146,"Drama,Horror"
tt2005151,War Dogs,War Dogs,2016,114,"Biography,Comedy,Crime"
tt21113540,El Conde,El conde,2023,110,"Comedy,Fantasy,History"
tt0015324,Sherlock Jr.,Sherlock Jr.,1924,45,"Action,Comedy,Romance"
tt0022100,M,M - Eine Stadt sucht einen Mörder,1931,99,"Crime,Mystery,Thriller"
tt0025316,It Happened One Night,It Happened One Night,1934,105,"Comedy,Romance"
tt0048021,Rififi,Du rififi chez les hommes,1955,118,"Crime,Drama,Thriller"

De # in de colommen komen van de vscode extentie, niet van pandas

In [7]:

exploded = movies["genres"].str.split(',').explode()
genre = pd.crosstab(exploded.index, exploded)
genre.columns = genre.columns.values.tolist()
genre = genre.add_prefix("genre_")
genre.index.names=["tconst"]
genre

,genre_Action,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Fantasy,genre_History,genre_Horror,genre_Mystery,genre_Romance,genre_Thriller
tconst,,,,,,,,,,,
tt0015324,1,0,1,0,0,0,0,0,0,1,0
tt0022100,0,0,0,1,0,0,0,0,1,0,1
tt0025316,0,0,1,0,0,0,0,0,0,1,0
tt0048021,0,0,0,1,1,0,0,0,0,0,1
tt0081505,0,0,0,0,1,0,0,1,0,0,0
tt2005151,0,1,1,1,0,0,0,0,0,0,0
tt21113540,0,0,1,0,0,1,1,0,0,0,0

In [8]:
movies.drop(columns="genres").join(genre)

,primaryTitle,originalTitle,startYear,runtimeMinutes,genre_Action,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Fantasy,genre_History,genre_Horror,genre_Mystery,genre_Romance,genre_Thriller
tconst,,,,,,,,,,,,,,,
tt0081505,The Shining,The Shining,1980,146,0,0,0,0,1,0,0,1,0,0,0
tt2005151,War Dogs,War Dogs,2016,114,0,1,1,1,0,0,0,0,0,0,0
tt21113540,El Conde,El conde,2023,110,0,0,1,0,0,1,1,0,0,0,0
tt0015324,Sherlock Jr.,Sherlock Jr.,1924,45,1,0,1,0,0,0,0,0,0,1,0
tt0022100,M,M - Eine Stadt sucht einen Mörder,1931,99,0,0,0,1,0,0,0,0,1,0,1
tt0025316,It Happened One Night,It Happened One Night,1934,105,0,0,1,0,0,0,0,0,0,1,0
tt0048021,Rififi,Du rififi chez les hommes,1955,118,0,0,0,1,1,0,0,0,0,0,1

In [9]:
genre.astype(pd.BooleanDtype())

,genre_Action,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Fantasy,genre_History,genre_Horror,genre_Mystery,genre_Romance,genre_Thriller
tconst,,,,,,,,,,,
tt0015324,True,False,True,False,False,False,False,False,False,True,False
tt0022100,False,False,False,True,False,False,False,False,True,False,True
tt0025316,False,False,True,False,False,False,False,False,False,True,False
tt0048021,False,False,False,True,True,False,False,False,False,False,True
tt0081505,False,False,False,False,True,False,False,True,False,False,False
tt2005151,False,True,True,True,False,False,False,False,False,False,False
tt21113540,False,False,True,False,False,True,True,False,False,False,False

In [10]:
file_path = "/media/user/files/code/imdb/data/downloads/title.ratings.tsv.gz"
# cols_to_use = ['tconst', 'primaryTitle',  'originalTitle', 'startYear', 'runtimeMinutes', 'genres']
ratings = pd.read_csv(file_path,sep='\t', quotechar='\t', low_memory=False, dtype_backend="pyarrow", index_col=["tconst"])

In [11]:
movies.join(ratings.loc[index])

,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,
tt0081505,The Shining,The Shining,1980,146,"Drama,Horror",8.4,1165413
tt2005151,War Dogs,War Dogs,2016,114,"Biography,Comedy,Crime",7.1,277556
tt21113540,El Conde,El conde,2023,110,"Comedy,Fantasy,History",6.4,15341
tt0015324,Sherlock Jr.,Sherlock Jr.,1924,45,"Action,Comedy,Romance",8.2,61823
tt0022100,M,M - Eine Stadt sucht einen Mörder,1931,99,"Crime,Mystery,Thriller",8.3,176882
tt0025316,It Happened One Night,It Happened One Night,1934,105,"Comedy,Romance",8.1,116726
tt0048021,Rififi,Du rififi chez les hommes,1955,118,"Crime,Drama,Thriller",8.1,38033

In [12]:
test = movies.join(tconst)
test

ValueError: columns overlap but no suffix specified: Index(['primaryTitle', 'originalTitle', 'startYear', 'runtimeMinutes',
       'genres'],
      dtype='object')

In [ ]:
test.sort_values()

,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,
tt0081505,The Shining,The Shining,1980,146,"Drama,Horror",8.4,1165286
tt2005151,War Dogs,War Dogs,2016,114,"Biography,Comedy,Crime",7.1,277502
tt21113540,El Conde,El conde,2023,110,"Comedy,Fantasy,History",6.4,15340
tt0015324,Sherlock Jr.,Sherlock Jr.,1924,45,"Action,Comedy,Romance",8.2,61807
tt0022100,M,M - Eine Stadt sucht einen Mörder,1931,99,"Crime,Mystery,Thriller",8.3,176855
tt0025316,It Happened One Night,It Happened One Night,1934,105,"Comedy,Romance",8.1,116716
tt0048021,Rififi,Du rififi chez les hommes,1955,118,"Crime,Drama,Thriller",8.1,38027

In [17]:
file_path = "/media/user/files/code/imdb/data/movies.feather"
excel = pd.read_feather(file_path)
excel.sort_values(["watched", "priority","averageRating"], ascending=[True,False,False])

,watched,priority,netflix,prime,averageRating,numVotes,primaryTitle,originalTitle,startYear,runtimeMinutes,...,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_History,genre_Horror,genre_Mystery,genre_Romance,genre_Sport,genre_Thriller
tconst,,,,,,,,,,,,,,,,,,,,,
tt0025316,False,True,<NA>,<NA>,8.1,116726,It Happened One Night,It Happened One Night,1934,105,...,False,False,False,False,False,False,False,True,False,False
tt0092005,False,True,False,False,8.1,463980,Stand by Me,Stand by Me,1986,89,...,False,True,False,False,False,False,False,False,False,False
tt0355702,False,True,False,False,7.1,59558,Lords of Dogtown,Lords of Dogtown,2005,107,...,False,True,False,False,False,False,False,False,True,False
tt0367594,False,True,False,False,6.7,550772,Charlie and the Chocolate Factory,Charlie and the Chocolate Factory,2005,115,...,False,False,True,False,False,False,False,False,False,False
tt0205000,False,True,False,False,5.7,82520,Deuce Bigalow: Male Gigolo,Deuce Bigalow: Male Gigolo,1999,88,...,False,False,False,False,False,False,False,True,False,False
tt0240515,False,True,False,False,4.7,53040,Freddy Got Fingered,Freddy Got Fingered,2001,87,...,False,False,False,False,False,False,False,False,False,False
tt0048021,False,False,True,False,8.1,38033,Rififi,Du rififi chez les hommes,1955,118,...,True,True,False,False,False,False,False,False,False,True
tt2005151,True,True,True,True,7.1,277556,War Dogs,War Dogs,2016,114,...,True,False,False,False,False,False,False,False,False,False
tt0081505,True,False,True,True,8.4,1165413,The Shining,The Shining,1980,146,...,False,True,False,False,False,True,False,False,False,False
tt0022100,True,False,False,False,8.3,176882,M,M - Eine Stadt sucht einen Mörder,1931,99,...,True,False,False,False,False,False,True,False,False,True
tt0015324,True,False,<NA>,<NA>,8.2,61823,Sherlock Jr.,Sherlock Jr.,1924,45,...,False,False,False,False,False,False,False,True,False,False
tt21113540,True,False,True,True,6.4,15341,El Conde,El conde,2023,110,...,False,False,False,True,True,False,False,False,False,False